// COLORS
$white: #fff;
$butterCup: #F2B71D;
$mineShaft: #252525;
$silver: #bcbcbc;
$doveGray: #6b6b6b;
$shakeSpeare: #52b9cb;
$amethyst: #be43cb;
$butteredRum: #a2790e;
$bahamaBlue: #03609f;
$kournikova: #fee478;
$capeCod: #373839;
$blackHaze:#E4E7E7;
$fuelYellow:#EBB024;
$russett: #7D5D57;
$fountainBlue: #4EBDC6;
$fountainBlueVibrant: #53b8c5;
$abbey:#4D5156;
$fireFly:#0D2229;
$shark:#252627;
$calico:#E1C599;
// TYPOGRAPHY

